name: Main

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read

jobs:
  main:
    name: Main Process
    runs-on: ubuntu-latest
    env:
      GO_VERSION: 1.22
      GOLANGCI_LINT_VERSION: v2.7
      YAEGI_VERSION: v0.16.1
    defaults:
      run:
        working-directory: ${{ github.workspace }}/go/src/github.com/${{ github.repository }}
    steps:
      # https://github.com/marketplace/actions/setup-go-environment
      - name: Set up Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true
      # https://github.com/marketplace/actions/checkout
      - name: Check out code
        uses: actions/checkout@v6
        with:
          path: go/src/github.com/${{ github.repository }}
          fetch-depth: 0
      - name: Install Yaegi
        run: make install-yaegi
      - name: Setup GOPATH
        run: go env -w GOPATH=${{ github.workspace }}/go
      - name: Check and get dependencies
        run: |
          go mod tidy
          git diff --exit-code go.mod
          # git diff --exit-code go.sum
          go mod download
          go mod vendor
          # git diff --exit-code ./vendor/
      - name: Run tests
        env:
          CGO_ENABLED: 1
        run: make test
      - name: Run tests with Yaegi
        run: make yaegi-test
        env:
          GOPATH: ${{ github.workspace }}/go
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
          working-directory: go/src/github.com/${{ github.repository }}
